<div {{ attributes }}>
    {{ form_start(form, {
        attr: {
            'data-action': 'live#action:prevent',
            'data-live-action-param': 'save',
        }
    }) }}
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.prenom) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.nom) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {{ form_row(form.anneeDeNaissance) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.niveau) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.club) }}
            </div>
        </div>

        <button type="submit" class="btn btn-success w-100 mt-3" data-loading="addAttribute(disabled)">
            <span data-loading="hide">Ajouter</span>
            <span data-loading="show" style="display: none;">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Traitement...
            </span>
        </button>
    {{ form_end(form) }}
</div>
